{% load static %}
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
<div class="card">
	<a class="user" href="#">
		<img class="prof" src="{% static 'gram/images/image.png' %}" alt="image" />
		<p class="name">username</p>
	</a>
	<a class="post" href="#" >
		<img class="image" src="{% static 'gram/images/image.png' %}" alt="image" />
	</a>
	<div class="footer">
		<div class="left">
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/heart-alt.svg'%}" alt="heart" />
			</a>
			<a href="#" class="link">
				<img class="icon" src="{% static 'gram/icons/line/comment-alt.svg'%}" alt="comment" />
			</a>
		</div>
		<a href="#" class="link">
			<img class="icon" src="{% static 'gram/icons/line/bookmark-alt.svg'%}" alt="bookmark" />
		</a>
	</div>
	<div class="content">
		<p class="likes">Liked by <span class="like">Jess</span> and <span class="like">24</span> others</p>
		<p class="caption">A very good and informative title for the people</p>
		<p class="date">Wednesday 24th April 2015</p>
	</div>
</div>
