{% load static %} {% for gram in grams %}
<div class="card">
	<div class="user">
		<a class="username" href="#">
			<img class="prof" src="{{gram.profile.photo.url}}" alt="{{gram.user}}" />
			<p class="name">@{{gram.user}}</p>
		</a>
		<a href="#" class="link">
			<img
				class="icon"
				src="{% static 'gram/icons/line/ellipsis.svg'%}"
				alt="menu"
			/>
		</a>
	</div>
	<a class="post" href="#">
		<img class="image" src="{{gram.photo.url}}" alt="{{gram.title}}" />
	</a>
	<div class="footer">
		<div class="left">
			<a
				href="{% url 'like' %}?gram_id={{gram.id}}"
				class="link"
			>
				<img
					class="icon"
					src="{% static 'gram/icons/line/heart-alt.svg'%}"
					alt="heart"
				/>
			</a>
			<a href="#" class="link">
				<img
					class="icon"
					src="{% static 'gram/icons/line/comment-alt.svg'%}"
					alt="comment"
				/>
			</a>
		</div>
		<a href="#" class="link">
			<img
				class="icon"
				src="{% static 'gram/icons/line/bookmark-alt.svg'%}"
				alt="bookmark"
			/>
		</a>
	</div>
	<div class="content">
		{% if gram.likes == 0 %}
		<p class="likes">No likes</p>
		{% elif gram.likes == 1 %}
		<p class="likes">
			Liked by
			<span class="like">{{gram.likes}}</span> other
		</p>
		{% else %}
		<p class="likes">
			Liked by
			<span class="like">{{gram.likes}}</span> others
		</p>
		{% endif %}
		<p class="caption">{{gram.caption}}</p>
		<p class="date">{{gram.posted | date:"jS M Y"}}</p>
	</div>
</div>
{% endfor %}
