{% extends 'gram/base.html' %} {% block content %} {% load static %}
<main id="main">
	<section id="hero">
		{% if gram %}
		<div id="pin">
			<div class="pinbar">
				<a class="pinheader" href="{% url 'index' %}">
					<img
						class="icon"
						src="{% static 'gram/icons/fill/fill-arrow-left.svg'%}"
						alt="back"
					/>
				</a>
				<a class="pinheader" href="{% url 'profile' gram.user %}">
					<img
						class="photo"
						src="{{gram.profile.photo.url}}"
						alt="{{gram.profile.user.username}}"
					/>
					<p class="text">{{gram.profile.user.username}}</p>
				</a>
				<a class="pinheader" href="{% url 'index %}">
					<img
						class="icon"
						src="{% static 'gram/icons/fill/fill-arrow-right.svg'%}"
						alt="next"
					/>
				</a>
			</div>
			<div class="pinimage">
				<img class="photo" src="{{gram.photo.url}}" alt="{{gram.title}}" />
			</div>
			<div class="pinfooter">
				<div class="footer">
					<div class="left">
						<a href="{% url 'like' %}?gram_id={{gram.id}}" class="link">
							<img
								class="icon"
								src="{% static 'gram/icons/line/heart-alt.svg'%}"
								alt="heart"
							/>
							<span class="like">{{gram.likes}}</span>
						</a>
						<a href="{% url 'details' gram.id %}" class="link">
							<img
								class="icon"
								src="{% static 'gram/icons/line/comment-alt.svg'%}"
								alt="comment"
							/>
							<span class="like">{{total_comments}}</span>
						</a>
					</div>
					<a href="#" class="link">
						<img
							class="icon"
							src="{% static 'gram/icons/line/bookmark-alt.svg'%}"
							alt="bookmark"
						/>
					</a>
				</div>
				<div class="pindetails">
					<p class="text">{{gram.title}}</p>
					<p class="caption">{{gram.caption}}</p>
					<p class="date">{{gram.posted | timesince}} ago</p>
				</div>
			</div>
			<form class="pinform" action="" method="POST">
				{% csrf_token %}
				<input
					class="comment"
					placeholder="comment..."
					type="comment"
					name="comment"
					id="comment"
				/>
				<input class="inputbtn" type="submit" value="comment" />
			</form>
		</div>
		{% else %}
		<p>Post currently unavailable</p>
		{% endif %}
		<div id="comments">
			{% if comments %} {% for comment in comments %}
			<div class="comment">
				<a class="link" href="{% url 'profile' comment.username %}">
					<p class="user">{{comment.username}}</p>
				</a>
				<p class="caption">{{comment.caption}}</p>
			</div>
			{% endfor %} {% else %}
			<p class="caption">no comments yet</p>
			{% endif %}
		</div>
	</section>
</main>
{% include 'gram/footer.html' %} {% endblock %}
