{% extends 'gram/base.html' %} {% block content %}
<section id="main">
	{% include 'gram/auth/topbar.html' %}
	<div class="forms">
		<h1 class="title">{{title}}</h1>
		{% if messages %}
		<div id="messages">
			{% for message in messages %}
			<p class="message">{{message}}</p>
			{% endfor %}
		</div>
		{% endif %}
		<form id="form" action="" method="POST">
			{% csrf_token %}
			<div class="group">
				<label class="label" for="username">Username</label>
				<input
					class="input"
					type="text"
					name="username"
					id="username"
					autocomplete="off"
				/>
			</div>
			<div class="group">
				<label class="label" for="email">Email</label>
				<input
					class="input"
					type="email"
					name="email"
					id="email"
					autocomplete="off"
				/>
			</div>
			<div class="group">
				<label class="label" for="password">Password</label>
				<input
					class="input"
					type="password"
					name="password"
					id="password"
					autocomplete="off"
				/>
			</div>
			<div class="group">
				<label class="label" for="password">Confirm Password</label>
				<input
					class="input"
					type="password"
					name="password2"
					id="password2"
				/>
			</div>
			<input class="btn" type="submit" value="Join" />
		</form>
	</div>
</section>
{% endblock %}
