#navbar {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

#navbar .menu {
  gap: 1.4rem;
  height: 100%;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

#navbar .menu .link {
  height: 100%;
}

#navbar .link {
  height: 100%;
}

#logo {
  height: 2.4rem;
  width: fit-content;
}

#home {
  height: 2.4rem;
  width: fit-content;
}

#heart {
  height: 2.4rem;
  width: fit-content;
}

#add {
  height: 2.4rem;
  width: fit-content;
}

#search {
  height: 2.4rem;
  width: fit-content;
}

#settings {
  height: 2.4rem;
  width: fit-content;
}

#user {
  height: 2.4rem;
  width: fit-content;
}

#homePath {
  fill: #12ECF8;
}

#homePathOne {
  fill: none;
  stroke: none;
}

#homePathOne:hover, #homePathOne:active {
  fill: #12ECF8;
  stroke: #12ECF8;
  stroke-width: 0.5rem;
}

#homePathOne:focus {
  fill: #12ECF8;
  stroke: #12ECF8;
  stroke-width: 0.5rem;
}

#heartPath {
  fill: #FF337A;
}

#heartPathOne {
  fill: none;
  stroke: none;
}

#heartPathOne:hover, #heartPathOne:active {
  fill: #12ECF8;
  stroke: #12ECF8;
  stroke-width: 0.5rem;
}

#heartPathOne:focus {
  fill: #12ECF8;
  stroke: #12ECF8;
  stroke-width: 0.5rem;
}

#addPath {
  fill: #6320EE;
}

#addPathOne {
  fill: none;
  stroke: none;
}

#addPathOne:hover, #addPathOne:active {
  fill: #12ECF8;
  stroke: #12ECF8;
  stroke-width: 0.5rem;
}

#addPathOne:focus {
  fill: #12ECF8;
  stroke: #12ECF8;
  stroke-width: 0.5rem;
}

#searchPath {
  fill: #CEFF1A;
}

#searchPathOne {
  fill: none;
  stroke: none;
}

#searchPathOne:hover, #searchPathOne:active {
  fill: #12ECF8;
  stroke: #12ECF8;
  stroke-width: 0.5rem;
}

#searchPathOne:focus {
  fill: #12ECF8;
  stroke: #12ECF8;
  stroke-width: 0.5rem;
}

#settingsPath {
  fill: #12ECF8;
}

#settingsPathOne {
  fill: none;
  stroke: none;
}

#settingsPathOne:hover, #settingsPathOne:active {
  fill: #12ECF8;
  stroke: #12ECF8;
  stroke-width: 0.5rem;
}

#settingsPathOne:focus {
  fill: #12ECF8;
  stroke: #12ECF8;
  stroke-width: 0.5rem;
}

#userPath {
  fill: #6320EE;
}

#userPathOne {
  fill: none;
  stroke: none;
}

#userPathOne:hover, #userPathOne:active {
  fill: #12ECF8;
  stroke: #12ECF8;
  stroke-width: 0.5rem;
}

#userPathOne:focus {
  fill: #12ECF8;
  stroke: #12ECF8;
  stroke-width: 0.5rem;
}

#topbar {
  width: 60%;
}

#topbar .btn {
  float: right;
  text-decoration: none;
  color: #12ECF8;
  margin: 0 0.5rem;
}

#topbar .btn:hover, #topbar .btn:active {
  color: #CEFF1A;
}

.forms {
  width: 60%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#form {
  width: 100%;
}

#form .group {
  width: 100%;
  margin: 0.7rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#form .group .label {
  font-weight: 200;
  font-size: 0.84rem;
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.05rem;
  color: #8155F1;
}

#form .group .input {
  width: 100%;
  outline: none;
  color: #12ECF8;
  font-size: 1rem;
  padding: 0.5rem 0;
  border-width: 0 0 3px;
  border-color: #6320EE;
  background: transparent;
}

#form .group .input::placeholder {
  color: #12ECF8;
  background: transparent;
}

#form .group .input:focus {
  color: #12ECF8;
  border-color: #CEFF1A;
  background: transparent;
}

#form .group .input:active {
  color: #12ECF8;
  border-color: #CEFF1A;
  background: transparent;
}

#form .group .input:focus-visible {
  color: #12ECF8;
  border-color: #CEFF1A;
  background: transparent;
}

#form .container {
  gap: 1rem;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: flex-start;
}

#form .container .group {
  width: 100%;
  margin: 0.7rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#form .container .group .photo {
  width: 240px;
  height: 240px;
  margin: 0.7rem 0;
}

#form .container .group .label {
  font-weight: 200;
  font-size: 0.84rem;
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.05rem;
  color: #8155F1;
}

#form .container .group .input {
  width: 100%;
  outline: none;
  color: #12ECF8;
  font-size: 1rem;
  padding: 0.5rem 0;
  border-width: 0 0 3px;
  border-color: #6320EE;
  background: transparent;
}

#form .container .group .input::placeholder {
  color: #12ECF8;
  background: transparent;
}

#form .container .group .input:focus {
  color: #12ECF8;
  border-color: #CEFF1A;
  background: transparent;
}

#form .container .group .input:active {
  color: #12ECF8;
  border-color: #CEFF1A;
  background: transparent;
}

#form .container .group .input:focus-visible {
  color: #12ECF8;
  border-color: #CEFF1A;
  background: transparent;
}

#form .btn {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  color: #140439;
  font-size: 0.8rem;
  padding: 0.7rem 1rem;
  background: #CEFF1A;
  border-radius: 0.3rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

#form .btn:hover, #form .btn:active {
  color: #6320EE;
  background: #12ECF8;
}

#form .btn:focus {
  color: #12ECF8;
  background: #FF337A;
}

#form .cta {
  gap: 1rem;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 1.5rem;
}

#form .cta .btn-submit {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  color: #140439;
  font-size: 0.8rem;
  padding: 0.7rem 1rem;
  background: #CEFF1A;
  border-radius: 0.3rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

#form .cta .btn-submit:hover, #form .cta .btn-submit:active {
  color: #6320EE;
  background: #12ECF8;
}

#form .cta .btn-submit:focus {
  color: #12ECF8;
  background: #FF337A;
}

#form .cta .btn-link {
  width: 100%;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  color: #CEFF1A;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  background: #6320EE;
  letter-spacing: 0.2rem;
  padding: 0.7rem 1rem;
  text-transform: uppercase;
  text-align: center;
}

#form .cta .btn-link:hover, #form .cta .btn-link:active {
  color: #140439;
  background: #FF337A;
}

#form .cta .btn-link:focus {
  color: #6320EE;
  background: #FF337A;
}

#app {
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 1100px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#app #main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#app #main .title {
  margin: 1rem 0;
  line-height: 1;
  font-weight: 500;
  font-size: 2rem;
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.1rem;
  color: #CEFF1A;
}

#grid {
  gap: 0.5rem;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  #grid {
    gap: 0.5rem;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  #grid {
    gap: 0.5rem;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

#messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#messages .message {
  color: #F4A4B3;
  font-weight: 200;
  font-size: 0.84rem;
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 400;
  font-size: 0.9rem;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 0.7rem;
  background-color: #140439;
}

.card .user {
  gap: 0.4rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  padding: 0.7rem 0.7rem 0.1rem 0.7rem;
}

.card .user .prof {
  height: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  border-radius: 4rem;
}

.card .user .name {
  font-weight: 200;
  font-size: 0.84rem;
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.05rem;
  color: #12ECF8;
}

.card .post {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card .post .image {
  width: auto;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  overflow: hidden;
  padding: 0.32rem;
  object-fit: contain;
  border-radius: 0.7rem;
}

.card .footer {
  width: 100%;
  padding: 0.2rem 0.7rem 0.1rem 0.7rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.card .footer .left {
  gap: 0.7rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.card .footer .left .link {
  text-decoration: none;
}

.card .footer .left .link .icon {
  height: 1rem;
}

.card .footer .link {
  text-decoration: none;
}

.card .footer .link .icon {
  height: 1rem;
}

.card .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.2rem 0.7rem 1rem 0.7rem;
}

.card .content .likes {
  font-weight: 200;
  font-size: 0.84rem;
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.05rem;
  color: #D5C6FA;
  font-size: 0.75rem;
}

.card .content .likes .like {
  font-weight: 200;
  font-size: 0.84rem;
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.05rem;
  color: #F1ECFD;
  font-weight: 400;
}

.card .content .caption {
  font-weight: 200;
  font-size: 0.84rem;
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.05rem;
  color: #F1ECFD;
  font-weight: 400;
  font-size: 0.9rem;
}

.card .content .date {
  font-weight: 200;
  font-size: 0.84rem;
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.05rem;
  color: #8155F1;
  font-size: 0.75rem;
}

#hero {
  padding: 1rem;
}

/* // Box sizing and font smoothing rules */
*,
*::before,
*::after {
  font-size: 16px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* // Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* // Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* // Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* // Set core body defaults */
body {
  line-height: 1.5;
  color: #D5C6FA;
  font-weight: 300;
  font-family: "Outfit", sans-serif;
  background-color: #0D0326;
  text-rendering: optimizeSpeed;
}

/* // A elements that don't have a class gets default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* // Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* // Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* // Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* // Scrollbar styles */
::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: #140439;
}

::-webkit-scrollbar-thumb {
  background: #FF337A;
  margin: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #12ECF8;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  font: inherit;
  transition: background-color 600000s 0s, color 600000s 0s;
}

#footer {
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  margin-top: auto;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  #footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0rem;
  }
}

#footer .text {
  font-weight: 200;
  font-size: 0.84rem;
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.05rem;
  color: #FF337A;
  text-align: left;
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  #footer .text {
    padding: 0.5rem 1rem;
  }
}

#footer .copy {
  font-weight: 200;
  font-size: 0.84rem;
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.05rem;
  color: #12ECF8;
  text-align: center;
}

#footer .copy .gram {
  font-weight: 200;
  font-size: 0.84rem;
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 500;
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  #footer .copy {
    padding: 0.5rem 1rem;
  }
}

#footer .alt {
  font-weight: 200;
  font-size: 0.84rem;
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.05rem;
  color: #CEFF1A;
  text-align: right;
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  #footer .alt {
    padding: 0.5rem 1rem;
  }
}

@keyframes frame {
  0% {
  }
  25% {
  }
  50% {
  }
  75% {
  }
  100% {
  }
}
