$sasa-100: #CEFF1A;
$sasa-200: #12ECF8;
$sasa-300: #FF337A;
$sasa-400: #6320EE;
$sasa-500: #6320EE;

$ash-100: #F1ECFD;
$ash-200: #D5C6FA;
$ash-300: #B9A1F7;
$ash-400: #9D7BF4;
$ash-500: #8155F1;

$dark-100: #400FBD;
$dark-200: #340C97;
$dark-300: #270971;
$dark-400: #21075F;
$dark-500: #140439;

$black: #0D0326;
$error: #F4A4B3;


$alt-100: #A42CD6;
$alt-200: #26D6E3;
$alt-300: #251351;
$alt-400: #42CAFD;
$alt-500: #FF337A;
$alt-600: #FBFF12;
$alt-700: #0FF4C6;
$alt-800: #12ECF8;
$alt-900: #38369A;

$a-100: #6320EE;
$a-200: #F6138C;
$a-300: #CEFF1A;
$a-400: #16F4D0;
$a-500: #38369A;
$b-600: #F72585;
$b-700: #7209B7;
$b-800: #4361EE;
$b-900: #4361EE;
$b-950: #4D12E2;
