{% extends 'gram/base.html' %} {% block content %}
<main id="main">
	<div class="forms">
		{% if user_profile.firstname %}
		<h1 class="title">{{title}} {{user_profile.firstname}}</h1>
		{% else %}
		<h1 class="title">{{title}} to get started</h1>
		{% endif %}
		<form id="form" action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="container">
				<div class="group">
					<label class="label" for="photo">Photo</label>
					<img class="photo" src="{{ user_profile.photo.url }}" alt="profile" />
					<input
						class="input"
						type="file"
						name="photo"
						id="photo"
						value=""
					/>
				</div>
				<div class="groups">
					<div class="group">
						<label class="label" for="firstname">Enter First Name</label>
						<input class="input" type="text" id="firstname" name="firstname" value="{{user_profile.firstname}}" required />
					</div>
					<div class="group">
						<label class="label" for="lastname">Enter Last Name</label>
						<input class="input" type="text" id="lastname" name="lastname" value="{{user_profile.lastname}}" />
					</div>
					<div class="group">
						<label class="label" for="bio">Bio</label>
						<textarea
							class="input"
							type="textarea"
							id="bio"
							name="bio"
							rows="3"
							autocomplete="off"
						>
{{user_profile.bio}}</textarea
						>
					</div>
				</div>
			</div>
			<div class="cta">
				<a class="btn-link" href="/">Go Back</a>
				<input class="btn-submit" type="submit" value="Save" />
			</div>
		</form>
	</div>
</main>
{% endblock %}
