{% extends 'gram/base.html' %} {% block content %}
<main id="main">
	<section id="main">
		<div class="forms">
			<h1 class="title">{{title}}</h1>
			<form id="form" action="" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="container">
					<div class="group">
						<label class="label" for="photo">Photo</label>
						<img
							class="photo"
							src="{{ user_profile.photo.url }}"
							alt="profile"
						/>
						<input
							class="input"
							type="file"
							name="photo"
							id="photo"
							value="{{user_profile.photo}}"
						/>
					</div>
					<div class="group">
						<label class="label" for="bio">Bio</label>
						<textarea
							class="input"
							type="textarea"
							id="bio"
							name="bio"
							rows="3"
							autocomplete="off"
						>
{{user_profile.bio}}</textarea
						>
					</div>
				</div>

				<div class="cta">
					<a class="btn-link" href="/">Cancel</a>
					<input class="btn-submit" type="submit" value="Save" />
				</div>
			</form>
		</div>
	</section>
</main>
{% endblock %}
