@import 'type';
@import 'mixins';
@import 'palette';

.card {
	width: 100%;
	height: 100%;
	@include col-start;
	justify-content: flex-start;
	border-radius: 0.7rem;
	background-color: $dark-500;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

	&:hover {
		box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
			rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
		border: 1px solid $dark-200;
	}

	.user {
		width: 100%;
		@include link;
		@include row-between;
		padding: 0.7rem 0.7rem 0 0.7rem;

		.username {
			gap: 0.4rem;
			@include link;
			@include row-start;
			align-items: center;
			width: fit-content;

			.prof {
				width: 2rem;
				height: 2rem;
				@include image;
				object-fit: cover;
				border-radius: 7rem;
			}

			.name {
				@include small;
				color: $sasa-100;
			}
		}

		.link {
			@include link;

			.icon {
				height: 1rem;
			}
		}
	}

	.post {
		width: 100%;
		height: 320px;
		@include link;
		padding: 0.5rem;

		.image {
			width: 100%;
			height: 100%;
			@include image;
			overflow: hidden;
			object-fit: cover;
			border-radius: 0.4rem;
		}
	}

	.footer {
		width: 100%;
		padding: 0.2rem 0.7rem 0.1rem 0.7rem;
		@include row-between;

		.left {
			gap: 0.7rem;
			@include row-start;

			.link {
				@include link;

				.icon {
					height: 1rem;
				}
			}
		}

		.link {
			@include link;

			.icon {
				height: 1rem;
			}
		}
	}

	.content {
		@include col-start;
		padding: 0.3rem 0.7rem 0.5rem 0.7rem;

		.likes {
			@include small;
			color: $ash-200;
			font-size: 0.75rem;

			.like {
				@include small;
				color: $ash-100;
				font-weight: 400;
			}
		}

		.caption {
			@include small;
			color: $ash-100;
			font-weight: 300;
			font-size: 0.9rem;
		}

		.date {
			@include small;
			color: $ash-400;
			font-size: 0.8rem;
			padding-top: 0.5rem;
		}
	}
}

#heros {
	width: 100%;
	padding: 1rem 4rem;
}

#suggestions {
	gap: 1rem;
	width: 100%;
	@include row-center;

	.link {
		@include link;
		padding: 0.3rem;
		width: fit-content;
		height: fit-content;
		border-radius: 3rem;
		border: 2px solid $sasa-300;

		.photo {
			width: 4rem;
			height: 4rem;
			@include image;
			object-fit: cover;
			border-radius: 3rem;
		}
	}
}
