@import 'type';
@import 'mixins';
@import 'palette';

.card {
	width: 100%;
	height: 100%;
	@include col-start;
	border-radius: 0.7rem;
	background-color: $dark-500;

	.user {
		gap: 0.4rem;
		@include link;
		@include row-start;
		align-items: center;
		padding: 0.7rem 0.7rem 0.1rem 0.7rem;

		.prof {
			height: 2rem;
			@include image;
			border-radius: 4rem;
		}

		.name {
			@include small;
			color: $sasa-200;
		}
	}

	.post {
    width: 100%;
    height: 100%;
		@include link;

		.image {
			width: auto;
			height: auto;
			@include image;
			overflow: hidden;
			padding: 0.32rem;
      object-fit: contain;
			border-radius: 0.7rem;
		}
	}

	.footer {
		width: 100%;
		padding: 0.2rem 0.7rem 0.1rem 0.7rem;
		@include row-between;

		.left {
			gap: 0.7rem;
			@include row-start;

			.link {
				@include link;

				.icon {
					height: 1rem;
				}
			}
		}

		.link {
			@include link;

			.icon {
				height: 1rem;
			}
		}
	}

	.content {
		@include col-start;
		padding: 0.2rem 0.7rem 1rem 0.7rem;

		.likes {
			@include small;
			color: $ash-200;
			font-size: 0.75rem;

			.like {
				@include small;
				color: $ash-100;
				font-weight: 400;
			}
		}

		.caption {
			@include small;
			color: $ash-100;
			font-weight: 400;
			font-size: 0.9rem;
		}

		.date {
			@include small;
			color: $ash-500;
			font-size: 0.75rem;
		}
	}
}
