@import 'type';
@import 'mixins';
@import 'palette';

#footer {
	gap: 0.5rem;
	width: 100%;
	margin-top: auto;
	@include grid-three;

	@include for-tab {
		@include col-center;
		gap: 0rem;
	}

	.text {
		@include text;
		color: $sasa-500;
		text-align: left;

		@include for-tab {
			padding: 0.5rem 1rem;
		}
	}

	.copy {
		@include text;
		color: $sasa-300;
		text-align: center;

		.gram {
			font-size: 1.5rem;
			@include brandtext;
		}

		@include for-tab {
			padding: 0.5rem 1rem;
		}
	}

	.alt {
		@include text;
		color: $sasa-100;
		text-align: right;

		@include for-tab {
			padding: 0.5rem 1rem;
		}
	}
}
