@import 'type';
@import 'mixins';
@import 'palette';

#navbar {
	width: 100%;
	padding: 1rem;
	@include row-between;

	.menu {
		gap: 1.4rem;
		height: 100%;
		@include grid-five;

		.link {
			height: 100%;
		}
	}

	.link {
		height: 100%;
	}
}

#logo {
	@include icons;
}

#home {
	@include icons;
}

#heart {
	@include icons;
}

#add {
	@include icons;
}

#search {
	@include icons;
}

#settings {
	@include icons;
}

#user {
	@include icons;
}

#homePath {
	fill: $sasa-200;
}

#homePathOne {
	fill: none;
	stroke: none;

	&:hover,
	&:active {
		fill: $sasa-200;
		stroke: $sasa-200;
		stroke-width: 0.5rem;
	}

	&:focus {
		fill: $sasa-200;
		stroke: $sasa-200;
		stroke-width: 0.5rem;
	}
}

#heartPath {
	fill: $sasa-300;
}

#heartPathOne {
	fill: none;
	stroke: none;

	&:hover,
	&:active {
		fill: $sasa-200;
		stroke: $sasa-200;
		stroke-width: 0.5rem;
	}

	&:focus {
		fill: $sasa-200;
		stroke: $sasa-200;
		stroke-width: 0.5rem;
	}
}

#addPath {
	fill: $sasa-400;
}

#addPathOne {
	fill: none;
	stroke: none;

	&:hover,
	&:active {
		fill: $sasa-200;
		stroke: $sasa-200;
		stroke-width: 0.5rem;
	}

	&:focus {
		fill: $sasa-200;
		stroke: $sasa-200;
		stroke-width: 0.5rem;
	}
}

#searchPath {
	fill: $sasa-100;
}

#searchPathOne {
	fill: none;
	stroke: none;

	&:hover,
	&:active {
		fill: $sasa-200;
		stroke: $sasa-200;
		stroke-width: 0.5rem;
	}

	&:focus {
		fill: $sasa-200;
		stroke: $sasa-200;
		stroke-width: 0.5rem;
	}
}

#settingsPath {
	fill: $sasa-200;
}

#settingsPathOne {
	fill: none;
	stroke: none;

	&:hover,
	&:active {
		fill: $sasa-200;
		stroke: $sasa-200;
		stroke-width: 0.5rem;
	}

	&:focus {
		fill: $sasa-200;
		stroke: $sasa-200;
		stroke-width: 0.5rem;
	}
}

#userPath {
	fill: $sasa-500;
}

#userPathOne {
	fill: none;
	stroke: none;

	&:hover,
	&:active {
		fill: $sasa-200;
		stroke: $sasa-200;
		stroke-width: 0.5rem;
	}

	&:focus {
		fill: $sasa-200;
		stroke: $sasa-200;
		stroke-width: 0.5rem;
	}
}

#topbar {
	width: 60%;

	.btn {
		float: right;
		@include link;
		color: $sasa-200;
		margin: 0 0.5rem;

		&:hover,
		&:active {
			color: $sasa-100;
		}
	}
}
