@import 'type';
@import 'mixins';
@import 'palette';

#navbar {
	width: 100%;
	padding: 1rem;
	@include row-between;

	.menu {
		height: 100%;
		@include grid-four;

		.link {
			height: 100%;
		}
	}

	.link {
		height: 100%;
	}
}

#logo {
	@include icons;
}

#home {
	@include icons;
}

#search {
	@include icons;
}

#heart {
	@include icons;
}

#add {
	@include icons;
}

#user {
	@include icons;
}

#homePath {
	fill: $sasa-200;
}

#searchPath {
	fill: $sasa-100;
}

#heartPath {
	fill: $sasa-300;
}

#addPath {
	fill: $sasa-400;
}

#userPath {
	fill: $sasa-500;
}
#userPathOne {
	fill: $sasa-100;
}

#topbar {
	width: 60%;

	.btn {
		float: right;
		@include link;
		color: $sasa-200;
		margin: 0 0.5rem;

		&:hover,
		&:active {
			color: $sasa-100;
		}
	}
}
