$sasa-100: #FEEA49;
$sasa-200: #FFB81F;
$sasa-300: #73DBFF;
$sasa-400: #FF9C32;
$sasa-500: #F25282;

$ash-100: #F1FBFF;
$ash-200: #E3F8FF;
$ash-300: #D5F4FF;
$ash-400: #C7F1FF;
$ash-500: #ABE9FF;

$dark-100: #5915A7;
$dark-200: #350D64;
$dark-300: #240843;
$dark-400: #1B0632;
$dark-500: #120421;



$bg: #240843;
$dark: #120421;
