$sasa-100: #FDDD0D;
$sasa-200: #FFB81F;
$sasa-300: #FF9C32;
$sasa-400: #FF8044;
$sasa-500: #FF4769;

$ash-100: #f3f4f7;
$ash-200: #dbdfe6;
$ash-300: #abb5c4;
$ash-400: #94a1b3;
$ash-500: #7c8ca2;



$bg: #1F2041;
$dark: #141529;