$sasa-100: #FEEA49;
$sasa-200: #10f9f9;
$sasa-300: #ff1f93;
$sasa-400: #8F3FEB;
$sasa-500: #5915A7;

$ash-100: #f2f2f7;
$ash-200: #e6e6ef;
$ash-300: #d9d9e8;
$ash-400: #cccce0;
$ash-500: #b3b3d0;

$dark-100: #55558b;
$dark-200: #464672;
$dark-300: #363659;
$dark-400: #27273f;
$dark-500: #1f1f33;

$black: #0F0F1A;
$error: #F4A4B3;
